@import url('fonts/fonts.css');

* {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right,
      /* #3ab4f2 50%,
      #f2df3a 50% */
      #ffb740 50%,
      #64c9cf 0%

  );
}


.top {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: .5fr .5fr;
  font-size: 25px;
  /* padding: 20px; */
  /* background-color: rgba(244, 223, 78, 0.8); */
  /* background-color: #3ab4f2; */
  /* background-color: #fff; */
  /* border: 2px solid rgba(0, 0, 102, 0.6); */

  grid-template-areas: 
    ". nav-bar";
    padding: 10px;

}

.nav-bar {
  grid-area: nav-bar;
  display: flex;
  padding: 10px;
  
}

.item {
  color: #f6f6f6;
  text-align: start;
}

#title {
  font-size: 80px;
  font-family:  EU-bold;
  text-align: center;
  padding-top: 50px;
  /* text-shadow: 3px 3px 3px #9b8509; */
  /* background-image: linear-gradient(
    to top,
      #3ab4f2 50%,
      #f2df3a 50%
      #ffb740 40%,
      #64c9cf 50%

  ); */
  /* background-color: #ffb740;    */
  /* height: 400px; */

  /* background-image:   url(images/pc.jpg);
  background-image: url(images/oleg-chursin-vaPoJZB9Mzg-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  margin-left: 0;
  color: #ffb740; */
  
}

#sub-title {
  font-size: 50px;
  font-family:  EU-bold;
  text-align: center;
  padding-top: 40px;
}




.content-body {
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: .4fr .6fr; */
  grid-template-columns: 1fr;
  /* row-gap: 30px; */
  /* grid-template-rows: .4fr .6fr 1fr; */
  grid-template-rows: .5fr 1fr 1fr;
  grid-template-areas: 
  "left "
  "services"
  "samples";

  /* for smaller screens */
  /* grid-template-areas: 
  "right right"
  "left left"
  "services services"; */

  background-image: linear-gradient(
    to right,
      /* #3ab4f2 50%,
      #f2df3a 50% */
      /* #ffb740 50%,
      #64c9cf 50% */

  );
  margin-bottom: 0;
  padding-bottom: 0;
}

.left {
  padding: auto;
  margin-top: 0px;
}

.left>p {
  font-family:  EU-bold;

}

.services {
  grid-area: services;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: .3fr .3fr .3fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 50px; */

  grid-template-areas: 
  "best . heading"
  ". rental .";

  /* for smaller screens */
  /* grid-template-areas: 
  "heading heading heading"
  "best best best"
  "rental rental rental"
  "terms terms terms"
  ". . ."
  "footer footer footer"; */

  justify-content: space-between;
  /* background-color: rgba(252, 198, 20, 0.473);
  background-color: #3ab4f2; */
  margin-top: 0;
margin-bottom: 3px;
  
background-image: linear-gradient(
  to right,
    /* #3ab4f2 50%,
    #f2df3a 50% */
    #ffb740 50%,
    #64c9cf 0%

);
padding: 40px;
margin-bottom: 0;
/* border-bottom: 10px solid #ffb740 ; */

}


.services >div>p {
  color: #000000;
  font-size: 20px;
  /* box-shadow: 25px 8px 98px #ccd863; */
}

.heading {
  grid-area: heading;
  padding: 20px;
  margin-left: -40px;
  
}

.best {
  grid-area: best;
  padding: 20px;
  margin-left: 40px;
}
.terms {
  grid-area: terms;
}


.rental {
  font-family: EU-bold;
  color: #07060f;
  grid-area: rental;
  /* background-image: linear-gradient(
    to right,
      #3ab4f2 50%,
      #f2df3a 50%
      #ffb740 50%,
      #64c9cf 0%

  ); */
  /* background-color: #fff; */

  background-image: linear-gradient(
    to right,
      /* #3ab4f2 50%,
      #f2df3a 50% */
      /* #ffb740 50%,
      #64c9cf 0% */

  );
  height: 120px;
  text-align: center;
  justify-content: center;
}

.best, .terms, .rental, .heading {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: flex-start; */
  /* padding: 15px; */
  margin-top: 0;
  /* border: 7px solid rgb(139, 201, 58); */
  /* border: 7px solid #fff; */
  /* border-radius: 5%; */
  box-shadow: 0px 8px 5px rgb(41, 32, 30);

}

.samples {
  grid-area: samples;
  display: flex;
  grid-template-columns:max-content;
  grid-auto-flow: column;
  /* justify-content: space-between; */
  /* column-gap: 40px; */
  /* margin-top: 160px; */
  padding: 50px;

  background-image: linear-gradient(
    to left,
      /* #3ab4f2 50%,
      #f2df3a 50% */
      #ffb740 0%,
      #64c9cf 0%

  );
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}


.img1, .img2, .img3 {
  justify-self: stretch;
  padding: 15px;
  /* margin-top: 0px; */
  /* border: 7px solid rgb(139, 201, 58); */
  /* border: 7px solid #fff; */
  /* border-radius: 8px; */
  box-shadow: 0px 8px 5px rgb(41, 32, 30);
  box-shadow: 0px 12px 11px 2px #64c9cf;

  background-image: linear-gradient(
    to left,
      /* #3ab4f2 50%,
      #f2df3a 50% */
      /* #ffb740 50%,
      #64c9cf 50% */

  );

}


.bottom {
  grid-area: bottom;
  text-align: center;

  background-image: linear-gradient(
    to right,
      /* #3ab4f2 50%,
      #f2df3a 50% */
      #ffb740 100%,
      #64c9cf 50%

  );
  width: 100%;
}


.footer {
  grid-area: footer;
  font-size: 25px;
  /* margin-top: 100px; */
  padding: 100px;
  padding-bottom: 20px;
  /* background-color: rgba(235, 239, 208, .4); */
  /* box-shadow: 10px 2px 11px 2px #d6ee5e;
  box-shadow: 10px 2px 11px 2px #141412; */


  margin-bottom: 0;


  
}