@import url('fonts/fonts.css');

* {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to right,
      #ffb740 50%,
      #64c9cf 0%

  );
}

.navbar {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  font-size: 20px;
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color .8s;
}

.menu a:hover {
  color: #FF5733;
}



#title {
  font-size: 80px;
  font-family:  EU-bold;
  text-align: center;
  padding-top: 50px;
  
}

#sub-title {
  font-size: 50px;
  font-family:  EU-bold;
  text-align: center;
  padding-top: 40px;
}




.content-body {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 1fr .5fr;
  grid-template-areas: 
  "left "
  "services"
  "samples";
  margin-bottom: 0;
  padding-bottom: 0;

}


.left {
  padding: auto;
  margin-top: 0px;
}

.left>p {
  font-family:  EU-bold;

}

.services {
  grid-area: services;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: .3fr .3fr .3fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas: 
  "best . heading"
  ". rental .";

  justify-content: space-between;
  margin-top: 0;
margin-bottom: 3px;
  
background-image: linear-gradient(
  to right,
    #ffb740 50%,
    #64c9cf 0%

);
padding: 40px;
margin-bottom: 0;

}


.services >div>p {
  color: #000000;
  font-size: 20px;
}

.heading {
  grid-area: heading;
  padding: 20px;
  margin-left: -40px;
  
}

.best {
  grid-area: best;
  padding: 20px;
  margin-left: 40px;
}
.terms {
  grid-area: terms;
}


.rental {
  font-family: EU-bold;
  color: #07060f;
  grid-area: rental;
  height: 120px;
  text-align: center;
  justify-content: center;
}

.best, .terms, .rental, .heading {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  border-radius: 11px;
  box-shadow: 0px 8px 5px rgb(41, 32, 30);
  box-shadow: 0px 1px 1px 1px rgba(160, 104, 0, .5); 

}

.samples {
  display: flex;
  grid-auto-flow: column;
  padding: 50px;

  background-image: linear-gradient(
    to left,
      #ffb740 0%,
      #64c9cf 0%

  );
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.img {
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: 0px 1px 1px 1px rgba(160, 104, 0, .5); 
}



.bottom {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;

  background-image: linear-gradient(
    to right,
      #ffb740 100%,
      #64c9cf 50%

  );
  grid-template-areas: 
      "footer";
}


.footer {
  grid-area: footer;
  font-size: 25px;
  padding: 100px;
  padding-bottom: 20px;


  margin-bottom: 0;


  
}


/* STYLE FOR SMALLER SCREENS  WITH Media Queries */

@media (max-width: 1025px) {

  .content-body {
    grid-template-rows: .5fr 1fr .2fr;
  }

  .services {
    padding-bottom: 0;
  }

  .samples {
    padding: 20px;
    margin: 0;
    width: fit-content;
    height: fit-content;
  }
  .img1, .img2, .img3 {
    /* margin: 0; */
    width: fit-content;
    height: fit-content;
  }

  .footer {
    padding: 20px;
    font-size: 20px;
  }
}

@media (max-width: 995px) {

  .services{
    grid-template-rows: .5fr .5fr .2fr;
  }

  .heading {
    grid-area: heading;
    padding: 10px;
    margin-left: -20px;
    
  }
  
  .best {
    grid-area: best;
    padding: 10px;
    margin-left: 10px;
  }

}

@media (max-width: 788px) {


  .rental {
    display: none;
  }

  .content-body {
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .3fr 1fr;

  }

  .left {
    grid-row: 1 / 2;
    grid-column: 1 / -1 ;
    margin-bottom: 10px;
  }
  .services {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  
    grid-template-areas: 
    "heading"
    "best"
    "rental";

    background-image: linear-gradient(
      to right,
        #ffb740 100%,
        #64c9cf 50%
  
    );
    justify-content: center;
  }

  .heading, .best {
    margin: 0px 0px;
  }

  .samples {
    flex-direction: column ;
    justify-content: center;
    grid-row: 2 / 3;
    grid-column: 2 / -1;
  }
  
  .img {
    padding: 10px;
    margin-top: 20px;
  }



}

@media (max-width: 565px) {


  #title {
  font-size: 45px;
  padding-bottom: 0;
  margin: auto;
  }
    #sub-title {
  font-size: 25px;
  padding-bottom: 0;
  margin: auto;
  }

  .content-body {
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .5fr 1fr;
    gap: 0;
    

  }
  .left {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .services {
    grid-row: 2 / 3;
    grid-column: 1 / 3;

    background-image: linear-gradient(
      to right,
        #ffb740 50%,
        #64c9cf 50%
  
    );
  }

 .heading, .best {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .samples {
    margin: auto;
    grid-row: 3 / 4;
    grid-column: 1 / 3;

    background-image: linear-gradient(
      to right,
        #ffb740 50%,
        #64c9cf 50%
  
    );
  }



}