


* {
  box-sizing: border-box;
  
}

.content {
  text-align: center;
}

.item {
  padding: 3px;
  border-radius: 8px;
  margin: 5px;
  border: 3px solid rgba(241, 206, 2, 0.863);
  background-color: rgb(214, 255, 226); 
  
}


/*  grid css */

.grid-container {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  
}


.screen {
  display: grid;
  font-size: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: 10px solid rgb(148, 16, 33);
  border-bottom: none;
  /* grid-area: screen; */
}

.board {
  display: grid;
  font-size: 30px;
  padding-top: 10px;
  border: 10px solid  rgb(148, 16, 33);
  border-top: 5px solid  rgb(148, 16, 33);
   /* grid-area: board; */
  grid-template-columns: 1fr repeat(3,1fr);
}
